html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

/* Text styling */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 15px;
  text-align: center;
  color: #026977;
  font-family: 'Quicksand', sans-serif;
}

p {
  text-align: justify;
}

.mainHeader {
  margin-top: 20px;
  text-align: center;
  font-size: 54px;
  color: black;
}

.pageHeader {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 68px;
  color: black;
  font-family: 'Roboto', sans-serif;
}

header h6 {
  margin-top: 20px;
  text-align: center;
  color: black;
}

.decor{
  color: #EE4279;
}

/* Line separator */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    border-radius: 1px;
}

/* Everything gets side spacing for mobile first views */
.header,
.jumbotron,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.logoPic{
  width: 100%;
  max-width: 100px;
  margin: 5px 5px;
}

/* Custom jumbotron */
.jumbotron, .jumbotron p {
    text-align: center;
    margin: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: inherit;
}

/* Basic components */
.btn{
  border-radius: .90rem;
}

#cssAboutText {
  background-color: #61C5D3;
  color: white;
}

#cssAboutProject {
  background-color: #61C5D3;
}

#cssContent{

}

/* Images */
.imgRound{
    display: block;
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 80%;
    border-radius: 50%;
    margin-top: 20px;
}

.imgEvent{
    display: block;
    position: relative;
    overflow: hidden;
    margin: auto;
    height: 350px;
    width: 350px;
    margin-right: 20px;
    object-fit: cover;
}

.img{
    display: block;
    position: relative;
    overflow: hidden;
    margin: auto;
    padding-top: 20px;
    width: 80%;
}


/* Custom page footer */
.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: #61C5D3;
  text-align: center;
}

.footer p {
  text-align: center;
}
.footerMenu a{
  text-decoration: none;
  display: flex;
  position: fixed;
}

#cssFooterMenu {
  font-size: 90%;
  color: #026977;
}

#cssFooterMenu:hover {
  color: #026977;
  text-decoration: none;
}

#cssCopyright{
  font-size: 14px;
}

#cssCopyright,
#cssFooterArrow {
  color: #026977;
}

/* BMI filter */
.inputBMI {
  font-size: 14px;
  width: 70px;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 3px;
  margin-left:auto;
  margin-right: auto;
  border: 1.6px solid #17a2b8;
  border-radius: 5px;
}


/* Examination components */
#filterButton{
  padding-top: 20px;
}

#filterButton .btn{
  border-radius: 20px;
}

#cssExamination {
  background-color: #17a2b8;
  color: white;
}

#cssCardExamination {
  background-color: #fcfcfc;
  color: black;
  border-color: #ededed;
  border-radius: .20rem;
  margin: 10px;
}

/* Stories */

#cssCardStories {
  background-color: white;
  color: black;
  border-color: black;
  border-radius: .20rem;
  margin: 20px;
  min-width: 220px;
}

#cssCardColumns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

#cssStoriesParagraph {
  text-align: justify;
  width: auto;
}

/* Partners slider - cards styles */
#cssCardPartners {
  background-color: white;
  color: black;
  border-color: black;
  border-radius: .20rem;
  /*margin: 20px;*/
}

#storiesCarousel a:hover, #storiesCarousel a:active {
  text-decoration: none;
}

.container {
  position: relative;
  width: 100%;
}

.imageSmaller {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 200px;
}

.imageLarger {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 255, 255, 0.8);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  position: absolute;
}

/* Examination Badge */
#cssBadge{
    background-color: #F26D98;
    color: white;
    font-weight: 500;
}

#cssBadgePeriodicity{
    background-color: #39B2C3;
    color: white;
    font-weight: 500;
}

/* BUTTON - Gender Button css - semitransparent background - all the variations */
#genderB {
  background-color: rgba(255,255,255,1.0);
}

#genderB:hover {
  background-color: #17a2b8;
}

#genderB:active {
  background-color: #17a2b8;
}

#genderB:hover:after {
  background-color: #17a2b8;
}

#genderB:not(:disabled):not(.disabled).active{
  background-color: #17a2b8;
}

/* Menu */
#flyoutMenu {
  width: 66vw;
  height: 100vh;
  background-color: #EE4279;
  position: fixed;
  top: 0;
  right: 0;
  padding: 15px;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
}

#flyoutMenu.hide {
  transform: translate3d(+100vw, 0, 0);
}

#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

#flyoutMenu a{
  color: white;
}

#flyoutMenu a p {
  color: white;
  margin-left: 10px;
  text-decoration: none;

}

#flyoutMenu a p:hover {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

#cssHamburgerMenu a{
  display: block;
  position: fixed;
}

#cssHamburgerMenu:hover {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Login Form */
.login-form {
  margin: auto;
  max-width: 500px;
  min-width: 400px;
  max-height: 400px;
  min-height: 300px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 5px 5px 30px #343233;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
}

.login-input-group {
  margin: 10px;

}

.login-input {
  margin: auto;
  width: 50%;
  padding: 5px;
}
/*login-button*/
.login-button {
  margin-top: 15px;
  width: 48%;
}

/*logout-btn*/
.logout-button{
  margin-top: 10%;
  margin-left: 70%;
}

/* Menu button ala hamburger */
.buttonContainer {
    z-index: 100;
    display: inline-block;
    cursor: pointer;
    position: fixed;
    margin-top: 15px;
    margin-right: 15px;
    top: 15px;
    right: 15px;
    color: black;
}

.buttonContainerClose {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: auto;
    top: 10px;
    right: 10px;
    color: white;
}

.buttonContainer:hover{
  transform: scale(1.05, 1.05);
}

.buttonContainerItem{
  display: inline;
  line-height: 1;
  float: left;
  vertical-align: middle;
  padding-top: auto;
}

/* Admin login */
#cssAdminLogin {
  background-color: white;
  color: #026977;
  border-color: #17a2b8;
}

/* Admin landing page */
.AdminNavBar {

}

.AdminNavItem, .AdminNavLogout {
  border-radius: 20px;
  /* background-color: rgba(255, 255, 255, 0.8); */
}
/* Admin-Links in upper menu */
.AdminNavItem:hover {
  background-color: #CCEBF2;
  transition: 0.7s;
}
/* Admin-Logout button in upper menu */
.AdminNavLogout:hover {
  background-color: #DC3545;
  transition: 0.7s;
}
/* Admin-Texts */
.AdminWelcH2 {
  color: #000;
  margin-top: 20px;
}

.placeholder {
  color: black;
}

/* Admin module - icons */
.adminIcons {
  margin-left: 75%;
}
.material-icons {
  margin-left: 15px;
}

/* Admin module - Examination page */

#AdminExamContainer {
  background-color: #d8f7ff;
  color: black;
  border-color: #ededed;
  border-radius: .90rem;
  margin: 10px;
}


.ageInput {
  font-size: 12px;
  width: 50px;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 8px;
  margin-left:auto;
  margin-right: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Admin module - Diagnosis */

.yesNoButton {
  margin: 50px;
}
.relatedExams {}


/* Icons */
a .fab, a .fas{
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  color: #026977;
  margin: 0 15px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  text-decoration: none;
  display: inline;
  transition: .5s;

}

a .fab:hover, a .fas:hover,
a:hover .fab, a:hover .fas {
  transform: rotateY(360deg);
  color: white;
  transition: .5s;
  text-decoration: none;
}

/* MEDIA QUERIES */
@media screen and (min-width: 480px) {
  #cssContent, #cssAboutText {
    font-size: 18px;
  }

  #flyoutMenu {
    width: 33vw;
  }

  h2 {
    margin-top: 50px;
    text-align: center;
    color: black;
    font-size: 2.5rem;
  }

  .logoPic {
    width: 100%;
    max-width: 200px;
    margin: 0px 15px;
  }

  .buttonContainer {
      margin-top: 15px;
      margin-right: 15px;
      top: 15px;
      right: 15px;
  }

  .buttonContainerClosed {
      margin-top: 15px;
      margin-right: 15px;
      top: 15px;
      right: 15px;
  }

}



@media screen and (min-width: 960px) {
  .buttonContainer {
      position: absolute;
  }

  #flyoutMenu {
    width: 25vw;
  }

  #filterButton{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .modal-dialog {
      max-width: 800px;
  }
}
