html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Space out content a bit */
body {
  padding-top: 20px;
}

p {
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

/* Everything gets side spacing for mobile first views */
.header,
.jumbotron,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: #efefef;
  text-align: center;
}

.footer p {
  text-align: center;
}

/* Custom jumbotron */
.jumbotron,
.jumbotron p {
  text-align: center;
  margin: 5px;
}


/* Menu button ala hamburger */
.buttonContainer {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
}

.buttonContainer:hover {
  transform: scale(1.1, 1.1);
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
    border-radius: 25px;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-10px, 7px);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -8px);
    transform: rotate(45deg) translate(-5px, -4px);
}


/* Menu */
#flyoutMenu {
  width: 66vw;
  height: 100vh;
  background-color: #999;
  position: fixed;
  top: 0;
  right: 0;
  padding: 15px;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
}

#flyoutMenu.hide {
  transform: translate3d(+100vw, 0, 0);
}

#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

#flyoutMenu a p {
  color: #212529;
  margin-left: 10px;
  text-decoration: none;
}

#flyoutMenu a:hover {
  text-decoration: none;
  font-size: 17px;
}

.footerMenu a {
  text-decoration: none;
  display: flex;
  position: fixed;
}
/* Login Form */
.login-form {
  margin: auto;
  width: 500px;
  height: 300px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 5px 5px 25px lightgrey;
}

.login-input-group {
  margin: 10px;
}

.login-input {
  margin: auto;
  width: 50%;
  padding: 5px;
}
/*login-button*/
.login-button {
  margin-top: 15px;
  width: 48%;
}

/*logout-btn*/
.logout{
  margin-top: 5%;
  text-align: center;
}

/* Icons */
a .fab, a .fas{
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  color: #0b0d0f;
  margin: 0 15px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  text-decoration: none;
  display: inline;
  transition: .5s;

}

a:hover .fab {
  transform: rotateY(360deg);
  color: #bb1122;
  transition: .5s;
  text-decoration: none;
}


@media screen and (min-width: 480px) {

  #flyoutMenu {
    width: 33vw;
  }
}



@media screen and (min-width: 960px) {
  #flyoutMenu {
    width: 25vw;
  }
}
