html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Space out content a bit */
body {
  padding-top: 20px;
}

p {
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

/* Everything gets side spacing for mobile first views */
.header,
.jumbotron,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: #efefef;
  text-align: center;
}

.footer p {
  text-align: center;
}

/* Custom jumbotron */
.jumbotron,
.jumbotron p {
  text-align: center;
  margin: 5px;
}
