.sliderContainer{
    width: 50%;
    margin: 2px auto;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    background: #065B69;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #065B69;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
}

.slider::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffffff;
}
